@use "./partials/_variables.scss" as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bootstrap/scss/bootstrap.scss";

#jumbotron {
    background-image: url("../img/jumbotron.jpg");
    height: 450px;
}

main {
    background-color: $backgroundMain;
};

.card {
    margin-bottom: 50px;
    min-height: 300px;

    img {
        min-height: 300px;
    }
};

#footer_top {
    background-color: $backgroundFooterTop;
    li{
        width: calc(100% / 5);

        img{
            max-height: 50px;
        }
    }
   
};


